[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=neteK
GenericName=FTP shares
Icon=netek.png
StartupNotify=false
Categories=Qt;Network;
Exec=netek
