#! /bin/sh

set -ex

ver=0.8.2

root=`pwd`
rm -fr .dist
mkdir .dist
cd .dist
mkdir netek-$ver
cd netek-$ver
cp $root/COPYING $root/netek_*.{cpp,h,ui} $root/netek_konqueror.desktop $root/netek.{pro,spec,desktop,nsi,dist} $root/icons.qrc $root/testdir.pl $root/testsum.sh .
mkdir icons
cd icons
cp $root/icons/*.{png,ico} .
cd ..

cd ..
tar -cf netek-$ver.tar netek-$ver
bzip2 --best netek-$ver.tar
mv netek-$ver.tar.bz2 ..

cd ..
rm -fr .dist
